<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>New User, please create a username: </h2>

<!-- The url to go to and whether @get or @post mapping-->
<form action="/register" method="post">
    <!-- The id of the inputs is for the @RequestParam in the controller -->
    <input id="username" name="username" placeholder="Create Username" required type="text"/>
    <button type="submit">Create User</button>
</form>

<!-- This will display the text if registering failed -->
<p th:if="${failedRegister}"> This username has already been taken </p>

<a href="#" onclick="location.href='/login'">Already made a user? Login</a>

</body>
</html>